h1 {

  color: #FFAD33;
  font-weight: bold;
  position: fixed;
  left: 50%;

}

.increase-temp {
  position: fixed;
  left: 48%;
  top: 10%;
}

.decrease-temp {
  position: fixed;
  left: 52%;
  top: 10%;
}

.powersave-off {
  position: fixed;
  left: 48%;
  top: 15%;
}
