h1 {
  font-weight: bold;
  left: 50%;
}

.energyNeutral{
  color: #FFAD33;
}

.energyIntense{
  color: #FF4719;
}

.energyNecoFriendly{
  color: #4DDB94;
}

.increase-temp {
  left: 48%;
  top: 10%;
}

.decrease-temp {
  left: 52%;
  top: 10%;
}

.powersave-off {
  left: 48%;
  top: 15%;
}

.powersave-on {
  left: 48%;
  top: 20%;
}

.reset {
  left: 48%;
  top: 25%;
}

.col-1{
  width: 27.5%;
  float: left;
  height: 100vh;
}

.col-2{
  width: 30%;
  float: left;
  height: 100vh;
}

.col-3{
  width: 17.5%;
  background-color: black;
  float: left;
  height: 100vh;
}

.col-4{
  width: 5%;
  background-color: black;
  float: left;
  height: 100vh;
}

.col-5{
  width: 20%;
  background-color: black;
  float: left;
  height: 100vh;
}
